<h1>新增書本</h1>

  <%= form_for(@book) do |f| %>
    <%= f.label :bookname, "書　　名：" %>
    <%= f.text_field :bookname %> <br /><br />

    <%= f.label :author, "作者姓名：" %>
    <%= f.text_field :author %> <br /><br />

    <%= f.label :price, "售　　價：" %>
    <%= f.text_field :price %> <br /><br />

    <%= f.label :introduction, "簡　　介：" %>
    <%= f.text_area :introduction %> <br /><br />

    <%= f.submit %>
  <% end %>

  <br />
  <%= link_to '回書本列表', books_path %>