<p id="notice"><%= notice %></p>

<h1>成績列表</h1>
<%= link_to "新增學生", new_score_paper_path, class: "btn btn-success" %>
<hr>
<h5>
  分數級別說明：90分以上 S/80~89：A/70~79：B級/60~69：C級/未滿60：D級
</h5>

<table class="table table-hover">
  <thead>
    <tr>
      <th>姓名</th>
      <th>學號</th>
      <th>分數</th>
      <th>處理</th>
    </tr>
  </thead>

  <tbody>
    <% @score_papers.each do |score_paper| %>
      <tr>
        <td><%= score_paper.name %></td>
        <td><%= score_paper.studentID %></td>
        <td><%= link_to score_paper.is_level(score_paper.score), score_paper %>(<%= score_paper.score %>)</td>
        <td><%= link_to '編輯', edit_score_paper_path(score_paper), class: "btn btn-success btn-xs" %></td>
        <td><%= link_to '刪除', score_paper, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Score Paper', new_score_paper_path %>
