<h1>name : <%=@candidate.name %></h1>
<h3>
  age : <%=@candidate.age %>
  <br>
  party : <%=@candidate.party %>
  <br>
  politics : <%=@candidate.politics %>
  <br>
  <br>
  <%= link_to "Back", candidates_path %>
</h3>